{% extends "base.html" %}

{% block title %} Changer-Руководство: Баланс касс {% endblock title%}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2 loginpage">
        <p><h2 class="text-center">Остатки по кассам</h2></p>

        <table class='table table-hover'>
            <thead>
            <tr>
                <th>№</th>
                <th>Адрес</th>
                <th>UAH</th>
                <th>USD</th>
                <th>EUR</th>
                <th>RUB</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result_branches %}
                <tr>
                    <th class='row'> {{ i[0] }}</th>
                    <td>{{ i[1] }}, {{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>Итого:</th>
                <th id="sum_uah"></th>
                <th id="sum_usd"></th>
                <th id="sum_eur"></th>
                <th id="sum_rub"></th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        var uah_cell = 0;
        var usd_cell = 0;
        var eur_cell = 0;
        var rub_cell = 0;
        for (var i = 0; i < $("tbody tr").length; i++) {
            uah_cell += parseFloat($('tbody tr:eq('+i+')').find('td:eq(1)').text());
            usd_cell += parseFloat($('tbody tr:eq('+i+')').find('td:eq(2)').text());
            eur_cell += parseFloat($('tbody tr:eq('+i+')').find('td:eq(3)').text());
            rub_cell += parseFloat($('tbody tr:eq('+i+')').find('td:eq(4)').text());
        };
        $('#sum_uah').text(uah_cell.toFixed(2));
        $('#sum_usd').text(usd_cell.toFixed(2));
        $('#sum_eur').text(eur_cell.toFixed(2));
        $('#sum_rub').text(rub_cell.toFixed(2));
    });
    //Стоит убрать;
    $('table').text().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
    </script>
{% endblock %}