{% extends "base.html" %}

{% block title %} Changer-Управление Branch-ами {% endblock title%}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 loginpage">
        <p><h2 class="text-center">Управление Branch-ами</h2></p>
        {% for message in get_flashed_messages() %}
            <div id="alert_message" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        {% endfor %}
        <form method="post">

            <div class="input-group">
                <span class="input-group-addon">Branch Кассы:</span>
                <input class="form-control" name="branch" placeholder="CHXX" type="text" required>
            </div>

            <div class="input-group" style="margin-top: 10px">
                <span class="input-group-addon">Адрес/Прозвище:</span>
                <input class="form-control" name="address" placeholder="Введите адрес или прозвище branch-a" type="text" required>
            </div>

            <div class="input-group" style="margin-top: 10px">
                <span class="input-group-addon">Добавить в группу:</span>
                <select class="form-control" name="select_group">
                    {%  for g in groups %}
                        <option value="{{ g.id }}">
                            <span>{{ g.group_branch }}, {{ g.group_description }}</span>
                        </option>
                    {% endfor %}
                </select>
            </div>


            <div class="row text-center" style="margin-top:10px">
                <button type="submit" class="btn btn-success" disabled>Добавить Branch</button>
                <button type="reset" class="btn btn-warning">Сбросить</button>
            </div>
        </form>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
        <p><h2 class="text-center">Список существующих Branch-ей</h2></p>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Branch</th>
                    <th class="text-center">Адрес/Прозвище</th>
                    <th class="text-center">Начало работы</th>
                    <th class="text-center">В группе</th>
                    <th class="text-center">Управление</th>
                </tr>
                </thead>
                <tbody>
                {% for c in cashes %}
                    <tr>
                        <td class="text-center">{{ c.branch }}</td>
                        <td class="text-center">{{ c.address }}</td>
                        <td class="text-center">{{ moment(c.member_since).format('LLL') }}</td>
                        <td class="text-center">{{ c.group.group_branch }}, {{ c.group.group_description }}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-danger"  data-toggle="modal" data-target=".bs-example-modal-sm" data-branch="{{ c.branch }}">Change</button>
                            {% if c.status %}
                                <button class="btn btn-xs btn-danger" data-cash-id="{{ c.id }}" data-cash-state="{% if c.status %}1{% else %}0{% endif %}">Close</button>
                            {% else %}
                                <button class="btn btn-xs btn-success" data-cash-id="{{ c.id }}" data-cash-state="{% if c.status %}1{% else %}0{% endif %}">On</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Window-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form action="{{ url_for('admin.edit_cash') }}" method="post">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-center" id="mySmallModalLabel">Изменение данных о Branch-е</h4>
                    </div>

                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon" style="font-weight: bold">Branch</span>
                            <input class="form-control" name="modal-branch" placeholder="Branch" type="text" readonly>
                        </div>
                        <div class="input-group mt">
                            <span class="input-group-addon">Адрес/Прозвище</span>
                            <input class="form-control" name="modal-address" placeholder="Address" type="text" required>
                        </div>
                        <div class="input-group mt">
                            <span class="input-group-addon">Добавить в группу:</span>
                            <select class="form-control" name="modal-select_group">
                                {%  for g in groups %}
                                    <option value="{{ g.id }}">
                                        <span>{{ g.group_branch }}, {{ g.group_description }}</span>
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row text-center">
                            <button type="submit" class="btn btn-success">Подтвердить</button>
                            <button type="reset" class="btn btn-danger" class="close" data-dismiss="modal" aria-hidden="true">Отменить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--End Windos-->

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment_changer.js') }}"></script>
    {{ moment.lang('ru') }}

    <script type="text/javascript">
        var ChangeStateCash = (function(){

            var pub = {},
                pr = {};

            pr.url = "{{ url_for('admin.close_cash') }}";

            pr.setBtnToState = function (btn, param) {
                var toClosed = param.state,
                    text = toClosed ? "Close" : "On",
                    clsToRemove = toClosed ? "btn-success" : "btn-danger",
                    clsToAdd = toClosed ? "btn-danger" : "btn-success",
                    stateValue = toClosed ? 1: 0;

                $(btn).addClass(clsToAdd);
                $(btn).removeClass(clsToRemove);
                $(btn).html(text);
                $(btn).attr('data-cash-state', stateValue);
            };

            pr.changeState = function (params, cbFunc) {
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: params,
                    success: cbFunc
                });
            };

            pub.setHandlers = function(){
                $('[data-cash-id]').click(function(evData) {
                    var btn = this,
                        attrs = evData.target.attributes;

                    data = {
                        id: attrs['data-cash-id'].value,
                        state: attrs['data-cash-state'].value
                    };

                    cbFunc = function (params) {
                        pr.setBtnToState(btn, params);
                    };

                    pr.changeState(data, cbFunc);
                })
            };

            return pub;
        })();

        var CheckBranch = (function(){
            var pub = {},
                pr = {};

            pr.url = '{{ url_for('admin.check_cash') }}'

            pr.checkCash = function(param, cbFunc){
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: param,
                    success: cbFunc
                });
            };

            pub.active_button = function() {$('[type="submit"]').prop('disabled', false)};
            pub.deactive_button = function() {$('[type="submit"]').prop('disabled', true)};

            pr.mainFunction = function(evData) {
                var data = {
                    name: evData.target.value
                };

                cbFunc = function(dataFromServer){
                    console.log(dataFromServer);
                    dataFromServer.can ? pub.active_button() : pub.deactive_button();
                };

                pr.checkCash(data, cbFunc);
            };

            pub.setHandlers = function(){
                $('[name="branch"]').keyup(function(evData){
                    pr.mainFunction(evData)
                });
                $('[name="branch"]').change(function(evData){
                    pr.mainFunction(evData)
                });

            };

            return pub;
        })();

        var EditCash = (function () {
            var pr = {},
                pub = {};

            pr.branch = '';
            pr.url='{{ url_for('admin.get_info_cash') }}'

            pr.cbFunc = function (data) {
                $('[name="modal-branch"]').val(data.branch);
                $('[name="modal-address"]').val(data.address);
            };

            pr.getInfobyAjax = function (data) {
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: data,
                    success: pr.cbFunc
                });
            };

            pub.setHandlers = function() {
                $('[data-toggle="modal"]').click(function(evData) {
                    pr.branch = evData.target.attributes['data-branch'].value;

                    data = {
                        'branch': pr.branch
                    };

                    pr.getInfobyAjax(data);

                });
            };

            return pub;
        })();

        $(document).ready(
                CheckBranch.setHandlers(),
                ChangeStateCash.setHandlers(),
                EditCash.setHandlers()
        );

    </script>
{% endblock %}