{% extends "base.html" %}

{% block title %} Changer-Добавление нового Пользователя {% endblock title%}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 loginpage">
        <p><h2 class="text-center">Добавление нового Пользователя</h2></p>
        {% for message in get_flashed_messages() %}
            <div id="alert_message" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        {% endfor %}
        <form method="post">

            <div class="input-group">
                <span class="input-group-addon" style="font-weight: bold">Username</span>
                <input class="form-control" name="username" placeholder="Username" type="text" required>
            </div>

            <div class="input-group mt">
                <span class="input-group-addon" style="font-weight: bold">Password</span>
                <input class="form-control" name="password" placeholder="Password" type="text" required>
            </div>

            <div class="input-group mt">
                <span class="input-group-addon">Роль пользователя</span>
                <select class="form-control" name="select_role">
                    {%  for r in roles %}
                        {% if r.permissions == permission %}
                            <option value="{{ r.id }}" data-collector="1">
                                {% else %}
                            <option value="{{ r.id }}" data-collector="0">
                        {% endif %}
                    <span>{{ r.description }}</span>
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mt">
                <span class="input-group-addon">Группа касса</span>
                <select class="form-control" name="select_group" disabled>
                    {%  for g in groups %}
                        <option value="{{ g.id }}">
                            <span>{{ g.group_branch }}, {{ g.group_description }}</span>
                        </option>
                    {% endfor %}
                </select>
            </div>



            <div class="row text-center mt">
                <button type="submit" class="btn btn-success" disabled>Добавить Пользователя</button>
                <button type="reset" class="btn btn-warning">Сбросить</button>
            </div>
        </form>

        <div>
            <p><h2 class="text-center">Список существующих Пользователей</h2></p>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">Username</th>
                        <th class="text-center">Роль</th>
                        <th class="text-center">Дата регистрации</th>
                        <th class="text-center">Касса</th>
                        <th class="text-center">Управление</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td class="text-center">{{ u.username }}</td>
                            <td class="text-center">{{ u.role.description }}</td>
                            <td class="text-center">{{ moment(u.member_since).format('LLL') }}</td>
                            <td class="text-center">{{ u.cash.branch }}</td>
                            <td class="text-center">
                                <button class="btn btn-xs btn-danger"  data-toggle="modal" data-target=".bs-example-modal-sm" data-username="{{ u.username }}">Change</button>
                                {% if u.status %}
                                    <button class="btn btn-xs btn-danger" data-uid="{{ u.id }}" data-user-state="{% if u.status %}1{% else %}0{% endif %}">Off</button>
                                {% else %}
                                    <button class="btn btn-xs btn-success" data-uid="{{ u.id }}" data-user-state="{% if u.status %}1{% else %}0{% endif %}">On</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!--Modal window-->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form action="{{ url_for('admin.edit_user') }}" method="post">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title text-center" id="mySmallModalLabel">Изменение данных о сотруднике</h4>
                        </div>

                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-addon" style="font-weight: bold">Username</span>
                                <input class="form-control" name="modal-username" placeholder="Username" type="text" readonly>
                            </div>
                            <div class="input-group mt">
                                <span class="input-group-addon" style="font-weight: bold">Password</span>
                                <input class="form-control" name="modal-password" placeholder="Password" type="password">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row text-center">
                                <button type="submit" class="btn btn-success">Подтвердить</button>
                                <button type="reset" class="btn btn-danger" class="close" data-dismiss="modal" aria-hidden="true">Отменить</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--End modal window-->



    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment_changer.js') }}"></script>
    {{ moment.lang('ru') }}
    <script>
        var ChangeLogin = (function(){

            var pub = {},
                pr = {};

            pr.url = "{{ url_for('admin.close_user') }}";

            pr.setBtnToState = function (btn, param) {
                var toClosed = param.state,
                    text = toClosed ? "Off" : "On",
                    clsToRemove = toClosed ? "btn-success" : "btn-danger",
                    clsToAdd = toClosed ? "btn-danger" : "btn-success",
                    stateValue = toClosed ? 1: 0;

                $(btn).addClass(clsToAdd);
                $(btn).removeClass(clsToRemove);
                $(btn).html(text);
                $(btn).attr('data-user-state', stateValue);
            };

            pr.changeState = function (params, cbFunc) {
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: params,
                    success: cbFunc
                });
            };

            pub.setHandlers = function(){
                $('[data-uid]').click(function(evData) {
                    var btn = this,
                        attrs = evData.target.attributes;

                    data = {
                        id: attrs['data-uid'].value,
                        state: attrs['data-user-state'].value
                    };

                    cbFunc = function (params) {
                        pr.setBtnToState(btn, params);
                    };

                    pr.changeState(data, cbFunc);
                })
            };

            return pub;
        })();

        var CheckLogin = (function(){
            var pub = {},
                pr = {};

            pr.url = '{{ url_for('admin.check_user') }}'

            pr.checkLogin = function(param, cbFunc){
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: param,
                    success: cbFunc
                });
            };

            pub.active_button = function() {$('[type="submit"]').prop('disabled', false)};
            pub.deactive_button = function() {$('[type="submit"]').prop('disabled', true)};

            pr.mainFunction = function(evData) {
                var data = {
                    name: evData.target.value
                };

                cbFunc = function(dataFromServer){
                    dataFromServer.can ? pub.active_button() : pub.deactive_button();
                };

                pr.checkLogin(data, cbFunc);
            };

            pub.setHandlers = function() {
                $('[name="username"]').keyup(function (evData) {
                    pr.mainFunction(evData);
                });

                $('[name="username"]').change(function (evData) {
                    pr.mainFunction(evData);
                });

            };

            return pub;
        })();

        var RecogniseCollector = (function() {
            var pub = {},
                pr = {};

            pr.getState = function(data) {
                var state = $(data).find(':selected').attr('data-collector')
                return parseInt(state)
            };

            pr.checkButton = function(data) {
                pr.getState(data) ? pub.activate() : pub.deactivate()
            };

            pub.activate = function() {$('[name="select_group"]').prop('disabled', false)};
            pub.deactivate = function() {$('[name="select_group"]').prop('disabled', true)};;

            pub.setHandlers = function() {
                $('[name="select_role"]').click(function() {
                    var selected = this;
                    pr.checkButton(selected);
                })

            };

            return pub;
        }());

        var ModalUser = (function () {
            var pr = {},
                pub = {};

            pr.username = '';
            pr.url = '{{ url_for('admin.get_info_user') }}';

            pr.getInfobyAjax = function (data) {
                $.get({
                    url: pr.url,
                    dataType: 'json',
                    data: data,
                    success: pr.cbFuncGetInfo
            });
            };

            pr.cbFuncGetInfo = function (params) {
                pr.updateUsername(pr.username);
            };

            pr.updateUsername = function(name) {
                $('[name="modal-username"]').val(name);
            };

            pub.setHandlers = function () {
                $('[data-toggle="modal"]').click(function(evData){
                    pr.username = evData.target.attributes['data-username'].value;
                    pr.modal_username = $('[name="modal-username"]');

                    data = {
                        user: pr.username,
                    };

                    pr.getInfobyAjax(data);
                });
            };

            return pub;
        })();

        $(document).ready(
                CheckLogin.setHandlers(),
                ChangeLogin.setHandlers(),
                RecogniseCollector.setHandlers(),
                ModalUser.setHandlers()
        );
    </script>
{% endblock %}