{% extends "base.html" %}

{% block title %} Changer-Редактирование Пользователя {% endblock title%}

{% block styles %}
{{ super() }}
    css.input-group-addon
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 loginpage">
        <p><h2 class="text-center">Редактирование пользователя {{ user.fname }}</h2></p>

        {% for message in get_flashed_messages() %}
            <div id="alert_message" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        {% endfor %}

        <form method="post">
            <div class="input-group mt">
                <span class="input-group-addon">Новый пароль:</span>
                <input class="form-control" name="new-pass" placeholder="Введите новый пароль" type="password" required>
            </div>
            <div class="input-group mt">
                <span class="input-group-addon">Повторить пароль:</span>
                <input class="form-control" name="new-pass-repeat" placeholder="Повторите новый пароль" type="password" required>
            </div>

            <div class="row text-center mt">
                <button type="submit" class="btn btn-success" disabled>Обновить</button>
                <button type="reset" class="btn btn-warning">Сбросить</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    var Checker = (function() {
        var pr = {},
            pub = {};

        pr.activate_button = function(btn) {
            btn.prop('disabled', false)
        };

        pr.deactivate_buttion = function(btn) {
            btn.prop('disabled',true)
        };

        pr.checkCondition = function() {
            if (pr.pass1 === pr.pass2) {
                pr.activate_button(pub.btn);
            } else {
                pr.deactivate_buttion(pub.btn);
            }
        };

        pub.setHandlers = function() {
            pub.btn = $('button[type="submit"]');

            $('[name="new-pass"]').keyup(function() {
                pr.pass1=$(this).val();
                pr.checkCondition();
            });

            $('[name="new-pass-repeat"]').keyup(function() {
                pr.pass2=$(this).val();
                pr.checkCondition();
            });

        };

        return pub;
    })();

    $(document).ready(Checker.setHandlers());

    </script>
{% endblock %}