{% extends "base.html" %}

{% block title %} Changer-Main {% endblock title%}

{% block content %}
    <div class="container">
    <div class="col-md-6 col-md-offset-3 loginpage">
        <div class="row">
            <h2 class="text-center">Остатки по кассе</h2>
            <table class="table" id="state_cash">
                <thead>
                <tr>
                    <th class="text-center">UAH</th>
                    <th class="text-center">USD</th>
                    <th class="text-center">EUR</th>
                    <th class="text-center">RUB</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="balance_UAH" class="text-center">{{ cash_state.count_uah }}</td>
                    <td id="balance_USD" class="text-center">{{ cash_state.count_usd }}</td>
                    <td id="balance_EUR" class="text-center">{{ cash_state.count_eur }}</td>
                    <td id="balance_RUB" class="text-center">{{ cash_state.count_rub }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% with danger = get_flashed_messages(category_filter=["danger"]) %}
            {% if danger %}
                {% for message in danger %}
                    <div id="alert_message" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
                {% for message in success %}
                    <div id="alert_message" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="row">
            <h2 class="text-center">Операции по обмену валют</h2>
            <form method="post">
                <div class="row">
                    <div id="oper" class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-success" data-op="SELL">
                            <input type="radio" name="oper" id="sale" value="SELL">
                            Продать
                        </label>
                        <label class="btn btn-success" data-op="BUY">
                            <input type="radio" name="oper" id="buy" value="BUY">
                            Купить
                        </label>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="currency">
                        <div id="currency" class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-success" data-cur="USD">
                                <input type="radio" name="curren" id="usd" value="USD">
                                <span class="glyphicon glyphicon-usd fontcurrency" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-success" data-cur="EUR">
                                <input type="radio" name="curren" id="eur" value="EUR">
                                <span class="glyphicon glyphicon-euro fontcurrency" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-success" data-cur="RUB">
                                <input type="radio" name="curren" id="rub" value="RUB">
                                <span class="glyphicon glyphicon-rub fontcurrency" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">Курс USD:</span>
                        <input type="number" id="course" name="course" step="0.01" class="form-control" placeholder="Рекоммендуемый курс: {{ 27.20 }} грн" autocomplete="off" value="" required>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">Сумма операции:</span>
                        <input type="number" id="sum" name="sum" class="form-control" placeholder="Введите сумму желаемой операции." autocomplete="off" title="Требуется ввести сумму." required>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon text-right">Итого:</span>
                        <input type="text" id="result" name="result" class="form-control" placeholder="Cумма" readonly>
                    </div>
                </div>
                <p></p>
                <div class="row text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm" disabled> Провести операцию</button>
                    <button type="reset" class="btn btn-warning">Сбросить</button>
                </div>

                <!--Модальное окно-->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title text-center" id="mySmallModalLabel">Подтверждение операции</h4>
                            </div>

                            <div class="modal-body">
                                Вы подтверждаете проведение операции на сумму:&nbsp;<span id="modal_sum"></span>&nbsp;грн.?
                            </div>

                            <div class="modal-footer">
                                <div class="row text-center">
                                    <button type="submit" class="btn btn-success">Провести операцию</button>
                                    <button type="reset" class="btn btn-danger" class="close" data-dismiss="modal" aria-hidden="true">Отменить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Модальное окно-->

            </form>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.1/numeral.min.js"></script>
    <script>
        var Changer = (function(){

            var pub = {},
                pr = {};

            pr.currency = '';
            pr.direction = '';

            pr.sum = 0;
            pr.course = 0;
            pr.result = 0;

            pr.balances = {
                balUAH: 0,
                balUSD: 0,
                balEUR: 0,
                balRUB: 0
            };

            pr.isBuy = function() {
                return pr.directon === 'BUY';
            };

            pr.isOperationConditionsSet = function() {
                return (pr.currency && pr.directon) || false;
            };


            pr.updateBalances = function() {
                pr.balances.balUAH = parseFloat($('#balance_UAH').text());
                pr.balances.balUSD = parseFloat($('#balance_USD').text());
                pr.balances.balEUR = parseFloat($('#balance_EUR').text());
                pr.balances.balRUB = parseFloat($('#balance_RUB').text());
            };

            pr.updateNumbers = function() {

                var sum = 0,
                    course = 0;

                pr.sum = parseFloat($('#sum').val()) || 0;
                pr.course = parseFloat($('#course').val().replace(/\,/i, '.')) || 0;
                pr.result = pr.course * pr.sum;

                $('#result').val(pr.result.toFixed(2));
            };

            pr.updateCurrency = function(currency) {
                //pr.currency = $('#currency label.active > input').val();
                pr.currency = currency;
            };

            pr.updateDirection = function(directon) {
                //pr.directon = $('#oper label.active > input').val();
                pr.directon = directon;
            };


            pr.isOperationSumCorrect = function() {
                var sum = pr.sum,
                    balance = 0;

                if (pr.result === 0){
                    return false;
                }

                if(pr.isBuy()) {
                    balance = pr.balances.balUAH;
                    sum = pr.result;
                } else {
                    switch (pr.currency) {
                        case 'USD':
                            balance = pr.balances.balUSD;
                            break;
                        case 'EUR':
                            balance = pr.balances.balEUR;
                            break;
                        case 'RUB':
                            balance = pr.balances.balRUB;
                            break;
                    }
                }

                return ((balance - sum) >= 0);
            };

            pr.checkIfOperationCorrect = function() {
                var isCorrect = true;

                pr.updateNumbers();

                isCorrect = pr.isOperationConditionsSet();

                if(isCorrect) {
                    //pr.updateBalances();
                    isCorrect = pr.isOperationSumCorrect();
                }

                if(isCorrect) {
                    pub.active_button();
                } else {
                    pub.deactive_button();
                }
            };


            pub.active_button = function() {$('button[data-target=".bs-example-modal-sm"]').prop('disabled', false)};
            pub.deactive_button = function() {$('button[data-target=".bs-example-modal-sm"]').prop('disabled', true)};

            pub.setHandlers = function() {

                pr.updateBalances();

                $('#sum').keyup(pr.checkIfOperationCorrect);

                $('#course').keyup(pr.checkIfOperationCorrect);

                $('#oper label').click(function(evData){
                    var oper = evData.currentTarget.attributes['data-op'].value;
                    pr.updateDirection(oper);
                    pr.checkIfOperationCorrect();
                });

                $('#currency label').click(function(evData){
                    var cur = evData.currentTarget.attributes['data-cur'].value;
                    pr.updateCurrency(cur);
                    pr.checkIfOperationCorrect();
                });

                //
                $('button[data-toggle="modal"]').click(function() {
                    $('#modal_sum').text(pr.result.toFixed(2));
                });

            }

            return pub;

        })();

        $(document).ready(Changer.setHandlers());
    </script>
{% endblock scripts %}