{% extends "base.html" %}

{% block title %} Changer-Отчет кассы {% endblock title%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}
    <div class="container loginpage">
        <div class="col-sm-4 col-sm-offset-1">
            <table id="statistics" class="table table-bordered">
                <thead>
                <th>Валюта</th>
                <th>Куплено(сумма)</th>
                <th>Продано(сумма)</th>
                </thead>
                <tbody>
                <tr>
                    <td>USD</td>
                    <td>{{ d_state['USD']['BUY']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['USD']['BUY']['avarage_course'] }}</span></td>
                    <td>{{ d_state['USD']['SELL']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['USD']['SELL']['avarage_course'] }}</span></td>
                </tr>
                <tr>
                    <td>EUR</td>
                    <td>{{ d_state['EUR']['BUY']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['EUR']['BUY']['avarage_course'] }}</span></td>
                    <td>{{ d_state['EUR']['SELL']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['EUR']['SELL']['avarage_course'] }}</span></td>
                </tr>
                <tr>
                    <td>RUB</td>
                    <td>{{ d_state['RUB']['BUY']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['RUB']['BUY']['avarage_course'] }}</span></td>
                    <td>{{ d_state['RUB']['SELL']['sum'] }} / <span data-fixed="courseFixed">{{ d_state['RUB']['SELL']['avarage_course'] }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <form id="form_report"method="post">

                <div class="row" align="center">
                    <h3>Сформировать отчет</h3>
                </div>

                <div class="control-group mt">
                    <div class="controls">
                        <div class="input-group">
                            <input id="date-picker-2" name="date" type="text" class="date-picker form-control" placeholder="Укажите дату конца отчета;" autocomplete="off" value="" required/>
                            <label for="date-picker-2" class="input-group-addon btn">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="input-group mt">
                    <span class="input-group-addon">Branch:</span>
                    <select class="form-control" name="select_ch">
                        {%  for c in cashes %}
                            <option value="{{ c.branch }}">
                                <span>{{ c.branch }}</span>,&nbsp;<span>{{ c.address }}</span>
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row text-center" style="margin-top: 10px">
                    <button type="submit" class="btn btn-success">Получить данные</button>
                    <button type="reset" class="btn btn-warning">Сбросить</button>
                </div>
            </form>
        </div>
    </div>

    <div id='topic' class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Отчет объекта {{ current_user.cash.branch }}: {{ moment(start).format('L') }}</h2>
    </div>

    <div class="container">
        <table id="report" class="table table-bordered">
            <caption>Отчет за период c {{ moment(start).format('L') }} по {{ moment(stop).format('L') }}. Объект: {{ current_user.cash.branch }}, {{ current_user.cash.address }}</caption>
            <thead>
            <th>Валюта</th>
            <th>Начало раб.дня</th>
            <th>Курс покупки</th>
            <th>Покупка</th>
            <th>Эквивалент по курсу</th>
            <th>Курс продажи</th>
            <th>Продажа</th>
            <th>Эквивалент по курсу</th>
            <th>Конец раб.дня</th>
            </thead>
            <tbody>

            {% if d['USD']['OPERATION'] %}
                {%- for i in d['USD']['OPERATION'] %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{ d['USD']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">USD</td>
                            <td rowspan="{{ d['USD']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ start_cash_state['USD'] }}</td>
                        {% endif %}
                        <td>{{ i[0][0] }}</td>
                        <td>{{ i[0][1] }}</td>
                        <td data_sum="sum_buy_UAH">{{ i[0][0]*i[0][1] }}</td>
                        <td>{{ i[1][0] }}</td>
                        <td>{{ i[1][1] }}</td>
                        <td data_sum="sum_sell_UAH">{{ i[1][0]*i[1][1] }}</td>
                        {% if loop.first %}
                            <td rowspan="{{ d['USD']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ finish_cash_state['USD'] }}</td>
                        {% endif %}
                    </tr>
                {%- endfor %}
            {% else %}
                <tr>
                    <td style="vertical-align: middle; text-align: center">USD</td>
                    <td style="vertical-align: middle; text-align: center">{{ start_cash_state['USD'] }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_buy_UAH">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_sell_UAH">0</td>
                    <td style="vertical-align: middle; text-align: center">{{ finish_cash_state['USD'] }}</td>
                </tr>
            {% endif %}

            {% if d['EUR']['OPERATION'] %}
                {%- for i in d['EUR']['OPERATION'] %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{ d['EUR']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">EUR</td>
                            <td rowspan="{{ d['EUR']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ start_cash_state['EUR'] }}</td>
                        {% endif %}
                        <td>{{ i[0][0] }}</td>
                        <td>{{ i[0][1] }}</td>
                        <td data_sum="sum_buy_UAH">{{ i[0][0]*i[0][1] }}</td>
                        <td>{{ i[1][0] }}</td>
                        <td>{{ i[1][1] }}</td>
                        <td data_sum="sum_sell_UAH">{{ i[1][0]*i[1][1] }}</td>
                        {% if loop.first %}
                            <td rowspan="{{ d['EUR']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ finish_cash_state['EUR'] }}</td>
                        {% endif %}
                    </tr>
                {%- endfor %}
            {% else %}
                <tr>
                    <td style="vertical-align: middle; text-align: center">EUR</td>
                    <td style="vertical-align: middle; text-align: center">{{ start_cash_state['EUR'] }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_buy_UAH">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_sell_UAH">0</td>
                    <td style="vertical-align: middle; text-align: center">{{ finish_cash_state['EUR'] }}</td>
                </tr>
            {% endif %}

            {% if d['RUB']['OPERATION'] %}
                {%- for i in d['RUB']['OPERATION'] %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{ d['RUB']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">RUB</td>
                            <td rowspan="{{ d['RUB']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ start_cash_state['RUB'] }}</td>
                        {% endif %}
                        <td>{{ i[0][0] }}</td>
                        <td>{{ i[0][1] }}</td>
                        <td data_sum="sum_buy_UAH">{{ i[0][0]*i[0][1] }}</td>
                        <td>{{ i[1][0] }}</td>
                        <td>{{ i[1][1] }}</td>
                        <td data_sum="sum_sell_UAH">{{ i[1][0]*i[1][1] }}</td>
                        {% if loop.first %}
                            <td rowspan="{{ d['RUB']['OPERATION']|length }}" style="vertical-align: middle; text-align: center">{{ finish_cash_state['RUB'] }}</td>
                        {% endif %}
                    </tr>
                {%- endfor %}
            {% else %}
                <tr>
                    <td style="vertical-align: middle; text-align: center">RUB</td>
                    <td style="vertical-align: middle; text-align: center">{{ start_cash_state['RUB'] }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_buy_UAH">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td data_sum="sum_sell_UAH">0</td>
                    <td style="vertical-align: middle; text-align: center">{{ finish_cash_state['RUB'] }}</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td style="vertical-align: middle; text-align: center">UAH</td>
                <td style="vertical-align: middle; text-align: center">{{ start_cash_state['UAH'] }}</td>
                <td>0</td>
                <td>0</td>
                <td id="result_buy_UAH">0</td>
                <td>0</td>
                <td>0</td>
                <td id="result_sell_UAH">0</td>
                <td style="vertical-align: middle; text-align: center">{{ finish_cash_state['UAH'] }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="print" class="row text-center">
        <button type="button" class="btn btn-success">Распечатать</button>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment_changer.js') }}"></script>
    {{ moment.lang('ru') }}
    <script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        var SetDataPicker = (function () {
            var pub = {};

            pub.setHandlers = function () {
                $(".date-picker").datetimepicker({
                    locale: 'ru',
                    format: 'DD-MM-YYYY',
                });
                $('#date-picker-1').datetimepicker();
                $('#date-picker-2').datetimepicker({
                    useCurrent: false
                });
                $("#date-picker-1").on("dp.change", function (e) {
                    $('#date-picker-2').data("DateTimePicker").minDate(e.date);
                });
                $("#date-picker-2").on("dp.change", function (e) {
                    $('#date-picker-1').data("DateTimePicker").maxDate(e.date);
                });
            };

            return pub;
        })();

        var Printer = (function() {
            var pr = {},
                    pub = {};
            pr.printTable = function() {
                window.print();
            };

            pub.setHandlers = function() {
                $('#print > button').click(function (evData) {
                    pr.printTable(evData);
                })
            };

            return pub;
        })();

        var SearchZero = (function() {
            var pr= {},
                    pub = {};

            pr.insertSymbol = function(element) {
                if ($(element).text() == '0') {
                    $(element).text('-');
                }
            };

            pub.setHandlers = function() {
                $('#report td').each(function() {
                    pr.insertSymbol(this)
                });
            };

            return pub;
        })();

        var Sum = (function() {
            var pr = {},
                    pub = {};

            pr.resultBuying = 0;
            pr.resultSelling = 0;

            pr.sumBuying = function() {
                $('[data_sum="sum_buy_UAH"]').each(function() {
                    pr.resultBuying += parseFloat($(this).text())
                });
                $('#result_buy_UAH').text(pr.resultBuying.toFixed(1));
            };

            pr.sumSelling = function() {
                $('[data_sum="sum_sell_UAH"]').each(function() {
                    pr.resultSelling += parseFloat($(this).text())
                });
                $('#result_sell_UAH').text(pr.resultSelling.toFixed(1));
            };

            pub.setHandlers = function() {
                pr.sumBuying();
                pr.sumSelling();
                SearchZero.setHandlers();
            };

            return pub;
        })();

        var Fixed = (function() {
            var pr = {},
                    pub = {};

            pr.courseFixed = function(data) {
                data.each(function(i,v) {
                    $(v).text(parseFloat($(v).text()).toFixed(4))
                });
            };

            pub.setHandlers = function() {
                data = $('[data-fixed]');
                pr.courseFixed(data);
            };

            return pub;
        })();


        $(document).ready(function() {
            Printer.setHandlers();
            Sum.setHandlers();
            Fixed.setHandlers();
            SetDataPicker.setHandlers();
        });
    </script>
{% endblock %}