{% extends "base.html" %}

{% block title %} Changer-Совершенные инкассации {% endblock title%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}">
{% endblock %}


{% block content %}
    <div class="col-sm-4 col-sm-offset-4 loginpage">
        <p><h2 class="text-center">Совершенная инкассация</h2></p>

        <div class="row">
            <form method="post">

                <div class="control-group">
                    <div class="controls">
                        <div class="input-group">
                            <input id="date-picker-1" name="data-start" type="text" class="date-picker form-control" placeholder="Укажите начало поика;" autocomplete="off" value="" required/>
                            <label for="date-picker-1" class="input-group-addon btn">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="control-group mt">
                    <div class="controls">
                        <div class="input-group">
                            <input id="date-picker-2" name="data-finish" type="text" class="date-picker form-control" placeholder="Укажите конец поика;" autocomplete="off" value="" required/>
                            <label for="date-picker-2" class="input-group-addon btn">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="input-group mt">
                    <span class="input-group-addon">Branch:</span>
                    <select class="form-control" name="select_ch">
                        {%  for c in cashes %}
                            <option value="{{ c.branch }}">
                                <span>{{ c.branch }}</span>,&nbsp;<span>{{ c.address }}</span>
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row text-center" style="margin-top: 10px">
                    <button type="submit" class="btn btn-success">Получить данные</button>
                    <button type="reset" class="btn btn-warning">Сбросить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
        <div class="row" style="margin-top: 20px">
            <table class='table table-hover'>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Адрес</th>
                    <th>Дата</th>
                    <th>Операция</th>
                    <th>UAH</th>
                    <th>USD</th>
                    <th>EUR</th>
                    <th>RUB</th>
                    <th>Заметки</th>
                </tr>
                </thead>
                <tbody>
                {% for i in inkasses %}
                    <tr>
                        <th class='row'> {{ loop.index }}</th>
                        <td>{{ i.cash.branch }}, {{ i.cash.address }}</td>
                        <td>{{ moment(i.date_collection).format('LLL') }}</td>
                        <td>{{ i.oper.rusname }}</td>
                        <td>{{ i.count_uah }}</td>
                        <td>{{ i.count_usd }}</td>
                        <td>{{ i.count_eur }}</td>
                        <td>{{ i.count_rub }}</td>
                        <td>{{ i.inkass_notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment_changer.js') }}"></script>
    {{ moment.lang('ru') }}
    <script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".date-picker").datetimepicker({
                locale: 'ru',
                format: 'DD-MM-YYYY',
            });
            $('#date-picker-1').datetimepicker();
            $('#date-picker-2').datetimepicker({
                useCurrent: false
            });
            $("#date-picker-1").on("dp.change", function (e) {
                $('#date-picker-2').data("DateTimePicker").minDate(e.date);
            });
            $("#date-picker-2").on("dp.change", function (e) {
                $('#date-picker-1').data("DateTimePicker").maxDate(e.date);
            });
            //var offset = new Date().getTimezoneOffset();
        });

    </script>
{% endblock %}